@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,800;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #ccc;
  padding-bottom: 1px;
}

input {
  font-family: "Pangolin", cursive;
  font-weight: 400;
  font-style: normal;
  color: blue;
}
