html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


body {
  font-family: "Open Sans", serif;
}

#header,
#code,
#locations {
  border: 1px solid black;
}

#header input {
  border: none;
  border-bottom: 1px solid black;
}

input {
  font-family: cursive;
  color: blue;
}

input:focus {
  outline: none;
}

#header {
  width: 100%;
  position: relative;
  font-size: 10px;
  height: 2cm;
}

#address {
  position: absolute;
  top: 0;
  left: 3.1in;
}


#author {
  position: absolute;
  top: .35in;
  left: 2.9in;
}

#name {
  position: absolute;
  top: .44in;
  left: 5px;
}

#name>div {
  text-align: center;
  display: inline-block;
}

#worksheet {
  width: 8.5in;
  height: 11in;
  padding: .75in;
  position: relative;
}

#worksheet>img {
  width: 2.5in;
  position: absolute;
  left: 1.25in;
  top: .372in;
  z-index: 100;
}

#code {
  border-collapse: collapse;
  width: 5.5in;
  max-width: 5.5in;
  position: absolute;
  left: 2.25in;
  top: 1.55in;
}

#code th,
#code td {
  border: 1px solid black;
  padding: 0;
}

#code input {
  margin: 0;
  padding: 0;
  border: none;
  text-align: right;
  padding-right: 5px;
}

#code input.comment{
  text-align: left;
  padding-left: 5px;
}

#locations {
  width: 1.49in;
  position: absolute;
  left: 0.75in;
  top: 1.55in;
}

#locations td {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}